*{
	font-family:"Verdana";
	margin: 0;
}
body{
	background-color: #0069a5;
	background: url("../img/back.png");
	background-size:  130%;
	overflow-x: hidden;
}
.loading{
	width: 75%;
	/*height: 300px;*/
	margin:  8% auto;
	background: #fff;
	border: 1px solid #DDD;
	border-radius: 10px;
	text-align: center;
}
.hora_passada{
	padding-top: 10px;
	padding-left: 5px;
	text-align: center;
	height: 25px;
	width: 100%;
	color: silver;
	/*background: #EDEDED;*/
}
.nva_venda, .mogi_venda{
	background:#FFF;
	text-align: center;
	float: left;
	width:48%;
	min-height: 65%;
	margin-top: 8%;
	border-radius: 10px;
	border: 1px solid silver;
	box-shadow: 10px 15px 40px #333;
}
.mogi_venda{
	float: right;
}
.container{
	width:75%;
	display: none;
	margin: 10px auto;
}
.container_super{
	width:75%;
	margin: 8% auto;
	text-align: center;
	/*border: 1px solid blue;*/
}
.container_coroa{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.container_aviso{
	background: rgba(255,255,255,0.4);
	width:80%;
	margin: 1% auto;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}
#result{
	font-size: 180px;
}
.metas, .atingido, .gap{
	font-size: 40px;
}
h2{
	font-size: 40px;
}
.rodape{
	font-family:"Bell MT";
	position: fixed;
	bottom: 0;
	margin-top: 10px;
	padding-top: 5px;
	width: 100%;
	height: 30px;
	background: #EDEDED;
	text-align: center;
}
#super{
	font-size: 55px;
	background: #FFF;
	margin-right: 25px;
	margin-bottom: 15px;
	float: left;
	min-width: 400px;	
	width: 47%;
	height: 80px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 10px 15px 20px #333;
}
/*
#vacilo{
	color: #EDEDED;
	font-size: 12px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
/*
.coroa{
	width:48%;
	height: 20px;
	float: left;
	text-align: center;
}
/*
.container_aviso .foto_1, .foto_2{
	width: 40%;
	float: left;
	margin-right: 10px;
}
.container_aviso .aviso{
	font-size: 42px;
	text-align: justify;
}
.container_aviso .aviso h3{
	text-align: center;
}
.container_aviso .aviso img{
	width: 50%;
	height: 200px;
}
/*